<li class="py-3.5 pr-2 [&+li]:border-t [&+li]:border-t-surface-2">
  <%= link_to post.title, post_path(post), class: "text-primary no-underline text-lg hover:underline", data: { turbo_frame: "_top" } %>
  <%= render "posts/source_badges", post: post %>
  <% if post.source_domain.present? %>
    <span class="ml-1.5 text-muted text-base">(<%= post.source_domain %>)</span>
  <% end %>
  <div class="mt-0.5 text-muted text-base meta-dots">
    <span>by <%= render AuthorComponent.new(user: post.user, author_text: post.author_name) %></span>
    <% if post.comment_count > 0 %>
      <span><%= pluralize(post.comment_count, "comment") %></span>
    <% end %>
    <% if post.external_rank.present? %>
      <span>#<%= post.external_rank %> on <%= post.external_source_label %></span>
    <% end %>
    <span><%= post.effective_time.utc.strftime("%Y-%m-%d %H:%M UTC") %></span>
  </div>
</li>
