<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "DisqRails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="DisqRails">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="font-serif bg-bg text-primary leading-relaxed min-h-full">
    <div class="bg-grain"></div>
    <main class="relative max-w-[860px] mx-auto px-4 pt-5 pb-16 max-sm:pt-3">
      <%= render "layouts/topbar" %>
      <%= render "layouts/theme_lab" %>
      <%= render "layouts/snacks" %>
      <%= yield %>
    </main>
  </body>
</html>
